<!-- Testing favicon partial inclusion -->
<meta name="test" content="Checking head.html inclusion">

<!-- Custom favicon settings added here -->
<link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
<link rel="manifest" href="/img/site.webmanifest">

<script>
  document.querySelector("link[rel~='icon']").href = "/img/favicon-32x32.png";
  document.querySelector("link[rel~='apple-touch-icon']").href = "/img/apple-touch-icon.png";
</script>
